p {
color: black;
}

h1 {
  color: teal;
  font-family: garamond;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.cu {
  color: black;
  font-family: garamond;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.rl {
  text-align: center;
}

.kl {
  text-align: center;
  text-decoration: underline;
}

body {
  background-color: darkgrey;
  font-family: garamond;
  font-size: 20px;
}

.pics {
  text-align: center;
}

#straydogsImg {
  height: 35%;
  width: 35%;
}

#dogsrescueImg {
  height: 35%;
  width: 35%;
}

#catrescueImg {
  height: 50%;
  width: 50%;
}

#cuteanimalsImg {
  height: 50%;
  width: 50%;
}

.menu {
  margin: 10;
  padding: 0px;
}

.menu a {
  display: block;
  padding: 14px 16px;
  color: #6299A4;
  font-family: cursive;
  text-decoration: underline;
  float: left;
}

.menu a:hover{
  background-color: grey;
}

.space {
  padding: 70px 25px 50px 80px;
  border: 10px dotted red;
  margin: 50px 45px 25px 30px;
  text-align: center;
}


.button {
  display: square;
  height: 30%
  border: 2px solid green;
  background-color: #9773DB;
  color: white;
  font-size: 35px;
  text-align: center;
}

.space c {
  padding: 70px 25px 50px 80px;
  border: 10px dotted red;
  margin: 50px 45px 25px 30px;
  text-align: center;
}

.space b {
  padding: 70px;
  border: 5px dotted red;
  margin: 50px;
  text-align: center;
}

.videos {
  text-align: center;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px
  padding: 20px;
  font-size: 19px;
  text-align: center;
}

.submit {
  font-size: 15px;
  text-align: center;
}
